{
  "extends": ["next", "next/core-web-vitals"],
  "rules": {
    "no-unused-vars": "error",
    "no-console": [
      "error",
      {
        "allow": ["error"]
      }
    ],
    "@next/next/no-img-element": "off"
  }
}
